<div class="container-fluid">
  <app-navbar></app-navbar>
  <!--burger menu-->
  <h3 class="mt-3">Burgers</h3>
  <hr>
  <div class="card-container">
    <div class="card" *ngFor="let burger of burgers">
      <a>
        <img src="{{burger.image}}"/>
      </a>
      <div class="card-body">
        <h5 class="text-center mb-1">{{burger.name}}</h5>
        <p class="text-center"><b>{{burger.price}}/-</b></p>
      </div>
      <button class="btn" (click)="addBurgerToCart(burger)">Add to bag</button>
    </div>
  </div>

  <!--pizza menu-->
  <h3 class="custom-margin">Pizzas</h3>
  <hr>
  <div class="card-container">
    <div class="card" *ngFor="let pizza of pizza">
      <a>
        <img src="{{pizza.image}}"/>
      </a>
      <div class="card-body">
        <h5 class="text-center mb-1">{{pizza.name}}</h5>
        <p class="text-center"><b>{{pizza.price}}/-</b></p>
      </div>
      <button class="btn" (click)="addPizzaToCart(pizza)">Add to bag</button>
    </div>
  </div>
  <!--fries menu-->
  <h3 class="custom-margin">Fries</h3>
  <hr>
  <div class="card-container">
    <div class="card" *ngFor="let fries of fries">
      <a>
        <img src="{{fries.image}}"/>
      </a>
      <div class="card-body">
        <h5 class="text-center mb-1">{{fries.name}}</h5>
        <p class="text-center"><b>{{fries.price}}/-</b></p>
      </div>
      <button class="btn" (click)="addFriesToCart(fries)">Add to bag</button>
    </div>
  </div>
</div>
