<div class="container-fluid">
  <app-navbar></app-navbar>
  <!--burger menu-->
  <h3 class="mt-3">Fresh Fruit Juices</h3>
  <hr>
  <div class="card-container">
    <div class="card" *ngFor="let juices of juices">
      <a>
        <img src="{{juices.image}}"/>
      </a>
      <div class="card-body">
        <h5 class="mb-1">{{juices.name}}</h5>
        <p class="desc">{{juices.description}}</p>
        <div class="price-btn-sec">
          <p><b>Rs. {{juices.price}}/-</b></p>
          <a (click)="addJuiceToCart(juices)">
            <i class="fa fa-lg fa-cart-shopping cart-icon"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!--pizza menu-->
  <h3 class="custom-margin">Refreshing Shakes</h3>
  <hr>
  <div class="card-container">
    <div class="card" *ngFor="let shakes of shakes">
      <a>
        <img src="{{shakes.image}}"/>
      </a>
      <div class="card-body">
        <h5 class="mb-1">{{shakes.name}}</h5>
        <p class="desc">{{shakes.description}}</p>
        <div class="price-btn-sec">
          <p><b>Rs. {{shakes.price}}/-</b></p>
          <a (click)="addShakeToCart(shakes)">
            <i class="fa fa-lg fa-cart-shopping cart-icon"></i>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>

