footer {
  min-height: 250px;
  padding: 10px 0 0 0;
  margin: 110px 0 -44px 0;
  border-top: 1px solid silver;
  background-color: rgba(192, 192, 192, 0.2);
  color: grey;
}

footer p {
  font-size: 12px;
  padding-bottom: 0;
  margin-bottom: 8px;
}

h4 {
  font-size: 20px;
}

footer #flex {
  width: 100%;
  display: flex;
  padding-top: 10px;
}

.sec-1 {
  padding-right: 20px;
  width: 80%;
}

#copyright-section {
  border-top: 1px solid silver;
  margin-top: 15px;
  padding: 12px 0;
}

@media only screen and (max-width: 768px) {
  footer {
    border-top: 1px solid silver;
  }

  footer #flex {
    width: 100%;
    flex-direction: column;
    text-align: justify;
  }

  .sec-1 {
    margin-bottom: 10px;
    width: 100%;
  }

  h4 {
    font-size: 14px;
  }

  footer p {
    font-size: 8px;
  }
}
