@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

footer {
  min-height: 250px;
  padding: 15px 0 0 0;
  color: white;
  background-image: linear-gradient(to right top, #292130, #302837, #38303e, #3f3845, #47404c);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

footer p {
  font-size: 13px;
  padding-bottom: 0;
  margin-bottom: 8px;
  color: silver;
}

h4 {
  font-size: 34px;
  font-family: "Caveat", cursive;
}

footer #flex {
  width: 100%;
  display: flex;
  padding-top: 10px;
}

.sec-1 {
  padding-right: 20px;
  width: 80%;
}

#copyright-section {
  border-top: 1px solid silver;
  margin-top: 15px;
  padding: 12px 0;
}

@media only screen and (max-width: 768px) {
  footer {
    border-top: 1px solid silver;
  }

  footer #flex {
    width: 100%;
    flex-direction: column;
    text-align: justify;
  }

  .sec-1 {
    margin-bottom: 10px;
    width: 100%;
  }

  h4 {
    font-size: 14px;
  }

  footer p {
    font-size: 8px;
  }
}
