<!--footer starts from here-->
<footer class="footer">
  <div class="container" id="flex">

    <div class="sec-1">
      <h4>Cocktail Club</h4>
      <p>Thank you for exploring Cocktail Club – your ticket to a world of culinary delights! Explore our menu
        featuring fresh juices, artisanal cocktails, delectable pizzas, juicy burgers, and an array of hot and cold
        beverages and shakes. Savor the flavors, make memories, and embark on a one-of-a-kind culinary adventure with
        us.</p>
    </div>

    <div class="sec-2">
      <h4>Contact Us</h4>
      <p><i class="fa fa-location-arrow"></i> Shop 15-A,Connaught place, New Delhi </p>
      <p><i class="fa fa-phone"></i> +91-9900000000 </p>
      <p><i class="fa fa-phone"></i> +91-9987451000 </p>
      <p><i class="fa fa fa-envelope"></i> info@cocktailclub.com </p>
    </div>
  </div>

  <div class="container" id="copyright-section">
    <p class="text-center">Copyright @2025-26 <b>Cocktail Club</b></p>
  </div>

</footer>
