@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

.navbar {
  background-image: linear-gradient(to right top, #fed8b3, #fdcca7, #fdc09c, #fdb393, #fca68c);
}

.nav-link {
  color: #FF6907;
  font-weight: 550;
}

.cart-icon {
  width: 50px;
  height: 50px;
}

.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navbar-brand img {
  width: 50px;
  height: 100%;
}

.navbar-brand h4 {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  color: #FF6907;
  margin-left: 15px;
  padding-top: 10px;
  font-family: "Caveat", cursive;
}

.mega-menu {
  width: 70vw;
  margin-top: 10px;
  padding: 30px 40px;

  .mega-menu-content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
  }

  .dropdown-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-weight: 600;
  }

  .img-thumbnail {
    width: 60px;
    height: 60px;
    padding: 0;
  }
}

/* User profile or dropdown styles and hover styles starts */
.user-profile-picture {
  width: 50px;
  height: 50px;
}

.dropdown .btn:hover {
  transform: scale(1.1);
}

.dropdown-item {
  font-size: 14px;
  transition: all 0.3s ease;
}

.dropdown-divider {
  border: none;
  height: 2px;
  background-color: #000;
  margin: 0.5rem 0;
  opacity: 0.5;
}

.searchBar {
  width: 450px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}

.search-input {
  width: 100%;
  height: 2.8rem;
  outline: none;
  border: 1px solid rgb(210, 208, 208);
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
  background-color: rgb(41, 33, 48, 0.9);
}

#searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  color: white;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}

@keyframes type {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.search-input::placeholder {
  transition: opacity 0.9s ease-in-out;
  color: white;
  font-size: 14px;
}


@media (max-width: 768px) {
  .mega-menu {
    width: 100%;
  }

  .searchBar {
    width: 100%;
  }

  .search-input {
    width: 100%;
    height: 3.5rem;
  }
}
