<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container-fluid">
    <div class="sec-1">
      <a class="navbar-brand" routerLink="/home">
        <img class="brand-logo" src="../../../../assets/images/navbar/cocktail.gif" alt="logo">
        <h4>Cocktail Club</h4>
      </a>
    </div>

    <div class="sec-2">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" *ngIf="shouldDisplayLink('/home')" routerLink="../home">
            Home
          </a>
          <a class="nav-link" *ngIf="shouldDisplayLink('/cocktail')" routerLink="../cocktail">
            Cocktails
          </a>
          <a class="nav-link" *ngIf="shouldDisplayLink('/fruit-juice')" routerLink="../fruit-juice">
            Juices
          </a>
          <a class="nav-link" *ngIf="shouldDisplayLink('/beverage')" routerLink="../beverage">
            Beverages
          </a>
          <a class="nav-link" *ngIf="shouldDisplayLink('/fast-food')" routerLink="../fast-food">
            Fast Food
          </a>
          <div class="dropdown nav-item">
            <button type="button" class="btn dropdown-toggle border-0 nav-link" data-bs-toggle="dropdown">
              <!--              <a class="nav-link">-->
              <img class="user-profile-picture" src="../../../../assets/images/navbar/profile.png" alt="profile">
              <!--              </a>-->
            </button>
            <ul class="dropdown-menu dropdown-menu-center">

              <!--              ToDo ngif logged in-->
              <li class="dropdown-item"><b>Hi Gitesh Sharma</b></li>
              <li><a class="dropdown-item" href="#" routerLink="/update-profile">Edit Profile</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/orders">My Orders</a></li>
              <li><a class="dropdown-item" href="#">Logout</a></li>

              <!--              ToDo ngIf not logged in-->
              <li><a class="dropdown-item" href="#" routerLink="/signin">Sign in/Sign up</a></li>
            </ul>
          </div>

          <a class="nav-link" *ngIf="shouldDisplayLink('/cart')" routerLink="../cart">
            <img class="nav-icons" src="../../../../assets/images/navbar/cart.png" alt="cart">
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
