<div class="container-fluid">

  <!--  carousel section-->
  <div class="carousel-img-section">
    <app-navbar></app-navbar>
    <div class="carousel-sec-1">
      <div class="text-line-container">
        <div class="text-line">Bring</div>
        <div class="text-line">The</div>
        <div class="text-line">Bar</div>
        <div class="text-line">Home</div>
      </div>
    </div>
  </div>

  <app-feature-products></app-feature-products>

  <app-animated-product-carousel></app-animated-product-carousel>

  <app-hire-carousel></app-hire-carousel>

  <app-how-we-deliver></app-how-we-deliver>

  <app-testimonials></app-testimonials>

  <app-footer></app-footer>
</div>
