<section>
  <!--<h1 class="about-title">OUR TEAM</h1>-->

  <div class="carousel-container">
    <button class="nav-arrow left" (click)="prev()">‹</button>

    <div class="carousel-track">
      <div
        class="card"
        *ngFor="let member of teamMembers; let i = index"
        [ngClass]="getCardClass(i)"
        (click)="goTo(i)"
        routerLink="/hire">
        <img class="hire-img" [src]="member.img" [alt]="member.name"/>
      </div>
    </div>

    <button class="nav-arrow right" (click)="next()">›</button>
  </div>

  <div class="member-info">
    <h2 class="member-name">{{ teamMembers[currentIndex].name }}</h2>
    <p class="member-role"><em>{{ teamMembers[currentIndex].role }}</em></p>
  </div>

  <div class="dots">
    <div
      class="dot"
      *ngFor="let member of teamMembers; let i = index"
      [class.active]="i === currentIndex"
      (click)="goTo(i)"
    ></div>
  </div>

  <button class="btn" routerLink="/hire">Explore Hire Section</button>

</section>
