<!--&lt;!&ndash; Footer &ndash;&gt;-->
<!--<footer class="text-center">-->
<!--  <div class="text-center p-4">-->
<!--    © 2023 Copyright:-->
<!--    <b>Cocktail Club</b>-->
<!--  </div>-->
<!--  <div class="text-center">-->
<!--    <p>This website is made with Angular and Love.</p>-->
<!--  </div>-->
<!--</footer>-->

<!------ Include the above in your HEAD tag ---------->

<!--footer starts from here-->
<footer class="footer">
  <div class="container" id="flex">
    <div class="sec-1">
      <p>Thank you for stopping by Cocktail Club – your ticket to a world of culinary delights! Explore our menu
        featuring fresh juices, artisanal cocktails, delectable pizzas, juicy burgers, and an array of hot and cold
        beverages and shakes. Savor the flavors, make memories, and embark on a one-of-a-kind culinary adventure with
        us.</p>


    </div>
    <div class="sec-2">
      <p><i class="fa fa-location-arrow"></i> 9878/25, sector-9 Rohini 35, Delhi </p>
      <p><i class="fa fa-phone"></i> +91-9999878398 </p>
      <p><i class="fa fa fa-envelope"></i> info@cocktailclub.com </p>
    </div>

  </div>


  <div class="container" id="copyright-section">
    <p class="text-center">Copyright @2023 <b>Cocktail Club</b>| Designed With Angular and love by Gitesh Sharma</p>
  </div>

</footer>
