.navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
}

nav {
  padding: 0;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 247, 0.2);
}

.nav-link {
  color: rgb(255, 105, 7);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
}

.nav-link:hover {
  font-weight: 600;
}

.nav-icons {
  width: 100%;
  height: 25px;
  padding: 0 10px;
}

.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navbar-brand img {
  width: 50px;
  height: 100%;
}

.navbar-brand h4 {
  text-align: center;
  font-weight: bolder;
  font-size: 32px;
  letter-spacing: 2px;
  color: rgb(255, 105, 7);
  padding-top: 10px;
}

#onMobileCartIcon {
  display: none;
}

/* User profile or dropdown styles and hover styles starts */
.user-profile-picture {
  width: 35px;
  height: 35px;
}

.dropdown-menu.dropdown-menu-center {
  left: 40% !important;
  right: auto !important;
  transform: translateX(-50%) !important;
}

.dropdown .btn:hover {
  transform: scale(1.1);
}

.dropdown-item {
  font-size: 14px;
  transition: all 0.3s ease;
}

.dropdown-item:hover {
  transform: scale(1.1);
}

.dropdown-divider {
  border: none;
  height: 2px;
  background-color: #000;
  margin: 0.5rem 0;
  opacity: 0.5;
}

#lblCartCount {
  font-weight: bold;
  font-size: 12px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
  background: rgb(255, 105, 7);
  margin-left: -20px;
}

.category-links {
  background-color: rgba(255, 255, 247, 0.2);
}

@media only screen and (max-width: 600px) {
  nav {
    width: 100%;
    padding-left: 10%;
  }

  .brand-logo {
    width: 100%;
    height: 45px;
  }
  .navbar-brand h4 {
    font-size: 14px;
  }
  #onMobileCartIcon {
    display: block;
    height: 20px;
    width: 20px;
  }

  #onDesktopCartIcon {
    display: none;
  }
  .nav-icons {
    width: 50%;
  }
  .navbar-toggler {
    margin-top: 10px;
  }

  .dropdown-menu.dropdown-menu-center {
    left: 30% !important;
    right: 0 !important;
    transform: translateX(0) !important;
  }

  .nav-link {
    font-size: 12px;
  }
  .dropdown {
    padding-left: 8%;
  }

  .dropdown-menu.dropdown-menu-center {
    left: 30% !important;
    right: 0 !important;
    transform: translateX(0) !important;
  }
}

@media only screen and (max-width: 992px) {
  nav {
    width: 100%;
  }
  #onMobileCartIcon {
    display: block;
  }

  #onDesktopCartIcon {
    display: none;
  }
  .nav-icons {
    width: 50%;
  }
}
