.container-fluid {
  margin: 0 auto;
  background-color: rgba(255, 255, 247, 0.2);
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 85px;
  flex-wrap: wrap;
}

.card {
  width: 220px;
  margin: 0 30px 110px 0;
  border-radius: 15px;
  padding: 10px;
}

.card img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-top: -100px;
  background-color: #fff;
}

.card h5 {
  letter-spacing: 1px;
  font-size: 15px;
  color: #1e3932;
}

.custom-margin {
  margin-top: -70px;
}

.container-fluid h3 {
  letter-spacing: 1px;
  margin-left: 30px;
  color: rgb(255, 105, 7);
}

.desc {
  font-size: 12px;
  color: #1e3932;
}

.price-btn-sec {
  display: flex;
  justify-content: space-between;
  margin-bottom: -30px;
}

.price-btn-sec i {
  color: rgb(255, 105, 7);
  cursor: pointer;
}

.price-btn-sec p {
  color: rgb(255, 105, 7);
}

@media (min-width: 600px) and (max-width: 768px) {
  .card-container {
    justify-content: center;
  }

  .card {
    margin: 10px 30px 120px 0;
  }
}
