<nav class="navbar navbar-expand-lg bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">
<!--      <img class="brand-logo" src="assets/logo.png">-->
      <img class="brand-logo" src="assets/logo-no-background.png">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="../fruit-juice">Fruit Juices</a>
        <a class="nav-link" routerLink="../beverage">Beverages</a>
        <a class="nav-link" routerLink="../fast-food">Fast food</a>
        <a class="nav-link" routerLink="../cocktail">Cocktails</a>
      </div>
    </div>
  </div>
</nav>
