.navbar {
  padding: 5px 10px;
}

.navbar-nav {
  padding: 0 20px;
}

.nav-link {
  color: rgb(255, 105, 7);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
}

.nav-link:hover {
  color: #1e3932;
}

.brand-logo {
  height: 40px;
  width: 125px;
}

.cart-icon {
  float: right;
  color: rgb(255, 105, 7);
}
.cart-icon:hover {
  color: #1e3932;
}
#onMobileCartIcon {
  display: none;
}

@media only screen and (max-width: 600px) {
  .brand-logo {
    height: 45px;
    width: 150px;
  }

  #onMobileCartIcon {
    display: block;
  }

  #onDesktopCartIcon {
    display: none;
  }

}

@media only screen and (max-width: 992px) {
  #onMobileCartIcon {
    display: block;
  }

  #onDesktopCartIcon {
    display: none;
  }
}
