<div class="container-fluid">
  <app-navbar></app-navbar>
  <!--hot beverages menu-->
  <h3 class="mt-3">Warmth in a Cup: Explore Our Hot Beverages</h3>
  <hr>
  <div class="card-container">
    <div class="card" *ngFor="let item of hotBeverages">
      <a>
        <img src="{{item.image}}"/>
      </a>
      <div class="card-body">
        <h5 class="mb-1">{{item.name}}</h5>
        <p class="desc">{{item.description}}</p>
        <div class="price-btn-sec">
          <div class="sec-1">
            <p><b>{{item.price | currency: 'INR'}}</b></p>
          </div>
          <div class="sec-2">
            <img (click)="addHotBeverageToCart(item)" class="cart-icon"
                 src="../../../../assets/images/addtocart.png"
                 alt="addtocart">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--cold beverages menu-->
  <h3 class="custom-margin">Icy Bliss: Sip on Our Cold Beverage Collection</h3>
  <hr>
  <div class="card-container">
    <div class="card" *ngFor="let item of coldBeverages">
      <a>
        <img src="{{item.image}}"/>
      </a>
      <div class="card-body">
        <h5 class="mb-1">{{item.name}}</h5>
        <p class="desc">{{item.description}}</p>
        <div class="price-btn-sec">
          <div class="sec-1">
            <p><b>{{item.price | currency: 'INR'}}</b></p>
          </div>
          <div class="sec-2">
            <img (click)="addColdBeverageToCart(item)" class="cart-icon"
                 src="../../../../assets/images/addtocart.png"
                 alt="addtocart">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

