<app-navbar></app-navbar>

  <div class="container-full">
    <p class="main-heading">Orders</p>
    <br>
    <table class="rwd-table">
      <tbody>
      <tr>
        <th>Invoice Id</th>
        <th>Date & Time</th>
        <th>Order status</th>
        <th>Amount</th>
        <th>Payment Mode</th>
        <th>Net Amount</th>
      </tr>
      <tr>
        <td data-th="Supplier Code">
          UPS5005
        </td>
        <td data-th="Supplier Name">
          UPS
        </td>
        <td data-th="Invoice Number">
          ASDF19218
        </td>
        <td data-th="Invoice Date">
          06/25/2016
        </td>
        <td data-th="Due Date">
          12/25/2016
        </td>
        <td data-th="Net Amount">
          $8,322.12
        </td>
      </tr>

      </tbody>
    </table>
  </div>

