<app-navbar></app-navbar>

<div class="container-full">

  <div class="text-center" id="noItemInCart" *ngIf="ordersList">
    <div class="custom-card-body">
      <h2 class="custom-card-title">No orders found !</h2>
      <a class="btn" routerLink="/home">Explore Now</a>
    </div>
  </div>

  <br>
  <table class="rwd-table text-center" *ngIf="!ordersList">
    <tbody>
    <tr *ngIf="ordersList">
      <th>S.No.</th>
      <th>Date</th>
      <th>Product Image</th>
      <th>Product Name</th>
      <th>Description</th>
      <th>Quantity</th>
      <th>Total Amount</th>
      <th>Order Status</th>
    </tr>
    <tr *ngFor="let item of ordersList; let i = index">
      <td data-th="Supplier Code">
        {{i + 1}}
      </td>
      <td data-th="Supplier Code">
        {{date | date : "medium" }}
      </td>
      <td data-th="Supplier Name">
        <img class="product-img" src="{{item.image}}">
      </td>
      <td data-th="Invoice Number">
        {{item.name}}
      </td>
      <td data-th="Due Date">
        {{item.description}}
      </td>
      <td data-th="Due Date">
        {{item.quantity}}
      </td>
      <td data-th="Invoice Date">
        {{item.price | currency: 'INR'}}
      </td>
      <td data-th="Net Amount">
        {{status}} {{date | date: 'medium'}}
      </td>
    </tr>

    </tbody>
  </table>
</div>

