<div class="containerfull">
  <div class="signin-form">
    <div class="header">
      <h1>Cocktail Club</h1>
      <p>Update your profile to continue</p>
    </div>
    <form [formGroup]="updateProfileForm" (ngSubmit)="onSubmit()">
      <div class="input" id="disabledInput">
        <i class="fa fa-envelope"></i>
        <input formControlName="email" type="email"/>
      </div>

      <div class="input">
        <i class="fa fa-user"></i>
        <input formControlName="fullName" type="text" placeholder="Full name"/>
      </div>
      <div *ngIf="updateProfileForm.controls['fullName'].touched && updateProfileForm.controls['fullName'].invalid"
           class="text-danger">
        Invalid name
      </div>

      <div class="input">
        <i class="fa fa-phone"></i>
        <input formControlName="phoneNumber" type="tel" placeholder="Enter Mobile Number"/>
      </div>
      <div
        *ngIf="updateProfileForm.controls['phoneNumber'].touched && updateProfileForm.controls['phoneNumber'].invalid"
        class="text-danger">
        Invalid Mobile
      </div>

      <!--      text area-->
      <div class="text-area-input">
        <i class="fa fa-home"></i>
        <textarea class="form-control" formControlName="address" type="text"
                  placeholder="Enter Full Delivery Address" rows="3"></textarea>
      </div>
      <div
        *ngIf="updateProfileForm.controls['address'].touched && updateProfileForm.controls['address'].invalid"
        class="text-danger">
        Invalid Address
      </div>

      <button type="submit" class="btn" [disabled]="updateProfileForm.invalid">Update Profile</button>
      <a class="text-muted fw-bold" href="#" routerLink="/cart">Cancel</a>
    </form>
  </div>
</div>



