@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

.containerfull {
  min-height: 100vh;
  display: grid;
  place-items: center;
  box-sizing: border-box;
}

.signin-form {
  width: 480px;
  padding: 32px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
  text-align: center;
}

.text-underline {
  text-decoration-line: underline;
}

.text-danger {
  text-align: left;
}

h1 {
  font-weight: bolder;
  font-size: 40px;
  color: rgb(255, 105, 7);
  font-family: "Caveat", cursive;
}

p {
  font-size: 14px;
  color: #1f2937;
}

.input {
  position: relative;
  margin: 20px 0;
}

.input input {
  width: 100%;
  padding: 12px 45px;
  border-radius: 12px;
  border: 1px solid silver;
  color: grey;
  font-size: 16px;
}

.input input::placeholder {
  color: grey;
}

.input i {
  top: 50%;
  width: 36px;
  position: absolute;
  transform: translateY(-50%);
  color: grey;
  font-size: 16px;
}

.text-area-input {
  position: relative;
  display: flex;
}

.text-area-input i {
  position: absolute;
  top: 10px;
  width: 36px;
  color: grey;
  font-size: 16px;
}

.text-area-input textarea {
  padding-left: 30px;
  width: 100%;
  color: grey;
  border: 1px solid silver;
}

.text-area-input textarea::placeholder {
  color: grey;
  padding: 0 10px;
}

.btn {
  width: 100%;
  border: none;
  margin: 24px 0;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 30px;
  color: white;
  background-color: rgb(255, 105, 7);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

a {
  color: #6366f1;
  text-decoration: none;
}

#disabledInput input {
  color: #1f2937;
}

@media only screen and (max-width: 768px) {
  .containerfull {
    padding: 20px;
  }

  .signin-form {
    width: 100%;
    padding: 25px;
  }

  h1 {
    font-size: 20px;
    letter-spacing: 1px;
  }

  p {
    font-size: 10px;
  }

  .input {
    position: relative;
    margin: 15px 0;
  }

  .input input {
    width: 100%;
    padding: 10px 35px;
    font-size: 12px;
  }

  .input i {
    font-size: 12px;
  }

  .btn {
    width: 70%;
    margin: 10px 0 15px 0;
    font-size: 12px;
    padding: 10px 20px;
  }
}
