<div class="container">
  <app-navbar></app-navbar>
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
              aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
              aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://img.freepik.com/free-photo/glass-icy-juice-with-straw-pipe-slice-grapefruit-blue_114579-60609.jpg?w=996&t=st=1681376265~exp=1681376865~hmac=5ffc7f589085875b7848c4e5f04820626996af8c26f452aab5040b04cd3746f4"
          class="d-block" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>Cocktails & Mocktails</h1>
          <p>Classic cocktails & mocktails collection.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="https://img.freepik.com/free-photo/front-view-tasty-meat-burger-with-cheese-salad-dark-background_140725-89595.jpg?w=996&t=st=1681376725~exp=1681377325~hmac=376fdbfe44bec95566081f579f2f401505aea1213494b4a6ed56c5f3d030e026"
          class="d-block" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>Fast Food</h1>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="https://img.freepik.com/free-photo/top-view-cup-cappuccino-with-macarons-cutting-board-red-surface_141793-18621.jpg?w=996&t=st=1681377327~exp=1681377927~hmac=57dc6766c3db0fab8e9ae10792620ec492eaf491148a1d0400290925d53955a4"
          class="d-block" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>Beverages</h1>
          <p>Hot & Cold beverages</p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="https://img.freepik.com/free-photo/front-view-fresh-fruit-cocktails-with-fresh-fruit-slices-ice-cooling-blue-drink-juice-cocktail-fruit-color_140725-24741.jpg?w=996&t=st=1681374643~exp=1681375243~hmac=83cf8f768bf0c9f04ffb05abd1e56d73e277c837fa3ad561d67770d98e221262"
          class="d-block" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>Third slide label</h1>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="https://img.freepik.com/free-photo/top-view-beer-with-copy-space_23-2148306047.jpg?w=996&t=st=1681374958~exp=1681375558~hmac=be637b2b2d1a69b5a8060d89dba5ca8957469aa33463a74de6a5e2b6c223b464"
          class="d-block" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>Third slide label</h1>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</div>
