<app-navbar></app-navbar>
<div class="container-fluid">

  <!--  carousel section-->
  <div class="carousel-img-section">
    <div class="carousel-sec-1">
      <div class="img-sec-1">
        <img src="assets/images/home/carousel/cocktail.jpg">
        <img src="assets/images/home/carousel/burger.jpg">
      </div>
      <div class="img-sec-2">
        <img src="assets/images/home/carousel/coffee.jpg">
        <img src="assets/images/home/carousel/juice.jpg">
      </div>
    </div>
    <div class="carousel-sec-2">
      <h1 class="text-lt">Bring the bar</h1>
      <h1 class="text-dk">Home.</h1>

      <p>
        Delivering expertly crafted cocktails, revitalizing fruit juices,
        a range of hot and cold beverages and delectable fast food to your doorstep.
      </p>
      <p>
        Order Online | Dine Inside | Grab and Go
      </p>
      <p>
        For Online order call : +91-9900000000
      </p>
    </div>
  </div>

  <!--  happy hour section-->
  <div class="happy-hour-section">
    <div class="happy-hour-section-1">
      <h1 class="text-lt">Happy Hour O'clock.</h1>
      <p>Every Friday, 4pm to 8 pm. Free entry & Live music</p>
      <p>Buy 1 Get 1 cocktail. Free pizza on order above 999 /-</p>
      <p>Beverage, fast food and fruit juices upto 50% off.</p>
      <p>*Offer applicable on Dine in only.</p>
    </div>
    <div class="happy-hour-section-2">
      <img id="happy-hour-img" src="assets/images/home/happyhour.jpg">
    </div>
  </div>

  <!--cocktail section-->
  <div class="imgOnRight-section">
    <div class="imgOnRight-left-section">
      <img routerLink="/cocktail" (click)="navigateToTop()"
           src="/assets/images/home/cocktail.jpg" alt="cocktail">
    </div>
    <div class="imgOnRight-right-section">
      <h1>Cocktails</h1>
      <p>Eat. Sleep. Cocktail. Repeat.</p>
      <button class="btn" routerLink="/cocktail" (click)="navigateToTop()">Explore now</button>
    </div>
  </div>

  <!--fruit juice section-->
  <div class="imgOnLeft-section" id="sec-1">
    <div class="imgOnLeft-left-section">
      <h1>Fruit Juices</h1>
      <p>Fresh fruit juices straight from Mother Nature herself.</p>
      <button class="btn" routerLink="/fruit-juice" (click)="navigateToTop()">Explore now</button>
    </div>
    <div class="imgOnLeft-right-section">
      <img routerLink="/fruit-juice" (click)="navigateToTop()"
           src="/assets/images/home/juice.jpg" alt="juice">
    </div>
  </div>


  <!--beverage section-->
  <div class="imgOnRight-section" id="sec-2">
    <div class="imgOnRight-left-section">
      <img routerLink="/beverage" (click)="navigateToTop()"
           src="assets/images/home/beverage.jpg" alt="beverage">
    </div>
    <div class="imgOnRight-right-section">
      <h1>Beverages</h1>
      <p>Beverages that refreshes the body. Refreshes the soul.</p>
      <button class="btn" routerLink="/beverage" (click)="navigateToTop()">Explore now</button>
    </div>
  </div>

  <!--fast food section-->
  <div class="imgOnLeft-section" id="sec-3">
    <div class="imgOnLeft-left-section">
      <h1>Fast Food</h1>
      <p>Fast Fuel for Hungry Souls.</p>
      <button class="btn" routerLink="/fast-food" (click)="navigateToTop()">Explore now</button>
    </div>
    <div class="imgOnLeft-right-section">
      <img routerLink="/fast-food" (click)="navigateToTop()"
           src="/assets/images/home/fastfood.jpg" alt="fast-food">
    </div>
  </div>

  <app-footer></app-footer>
</div>
