.container-fluid {
  background-color: #ffffff;
}

.d-block {
  width: 100%;
  height: 100vh;
  margin-top: -85px;
  object-fit: cover;
  border: none;
}

.carousel-caption {
  margin-bottom: 0;
}

.carousel-caption h1 {
  color: #ffff;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
  font-weight: bold;
  font-size: 50px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.carousel-caption p {
  color: #ffff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
}

video {
  width: 100%;
  position: relative;
}

.imgOnLeft-section, .imgOnRight-section {
  height: 600px;
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.imgOnLeft-left-section, .imgOnRight-right-section {
  padding: 60px;
}

.imgOnLeft-section h1, .imgOnRight-section h1 {
  color: rgb(255, 105, 7);
  font-weight: bold;
  font-size: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.imgOnLeft-section p, .imgOnRight-section p {
  color: #1e3932;
  font-weight: 500;
  font-size: 24px;
  max-width: 550px;
  letter-spacing: 1px;
}

.imgOnLeft-right-section img, .imgOnRight-left-section img {
  /*height: 550px;*/
  width: 560px;
  /*border-radius: 50%;*/
  background-color: #fff;
}

.btn {
  padding: 10px 30px;
  border-radius: 30px;
  margin-top: 15px;
  color: white;
  background-color: rgb(255, 105, 7);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
}


@media only screen and (max-width: 768px) {
  .d-block {
    width: 100%;
    height: 250px;
  }

  .imgOnLeft-section {
    flex-direction: column;
    margin: 10px 0;
  }

  .imgOnRight-section {
    flex-direction: column-reverse;
    margin: 30px 0;
  }

  .imgOnLeft-right-section img, .imgOnRight-left-section img {
    padding: 40px;
    height: 450px;
    width: 450px;
    margin: -40px 0;
  }

  #sec-1 {
    margin: -20px 0;
  }

  .imgOnLeft-section h1, .imgOnRight-section h1 {
    font-size: 30px;
  }

  .imgOnLeft-section p, .imgOnRight-section p {
    font-size: 15px;
  }

  .btn {
    padding: 8px 24px;
    border-radius: 30px;
    margin-top: 5px;
    font-size: 14px;
  }
}
