<div class="container-fluid">
  <app-navbar></app-navbar>
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
              aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
              aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://img.freepik.com/free-photo/autumn-leaves-assortment-with-cup-coffee_23-2148605600.jpg?w=1060&t=st=1681377946~exp=1681378546~hmac=047958b56c57b2b9442f7302aad5be8e558038dd26c5064ed4d75a76dcb8826e"
          class="d-block" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>Beverages</h1>
          <p>Hot & cold beverages</p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="https://img.freepik.com/free-photo/front-view-fresh-fruit-cocktails-with-fresh-fruit-slices-ice-cooling-blue-drink-juice-cocktail-fruit-color_140725-24741.jpg?w=996&t=st=1681374643~exp=1681375243~hmac=83cf8f768bf0c9f04ffb05abd1e56d73e277c837fa3ad561d67770d98e221262"
          class="d-block" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>Fresh Fruit Juices</h1>
          <p>Enjoy our fresh fruit juices.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="https://img.freepik.com/free-photo/front-view-tasty-meat-burger-with-cheese-salad-dark-background_140725-89595.jpg?w=996&t=st=1681376725~exp=1681377325~hmac=376fdbfe44bec95566081f579f2f401505aea1213494b4a6ed56c5f3d030e026"
          class="d-block" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>Fast Food</h1>
          <p>Delicious pizza, burger & more.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="https://img.freepik.com/free-photo/glass-icy-juice-with-straw-pipe-slice-grapefruit-blue_114579-60609.jpg?w=996&t=st=1681376265~exp=1681376865~hmac=5ffc7f589085875b7848c4e5f04820626996af8c26f452aab5040b04cd3746f4"
          class="d-block" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>Cocktails & Mocktails</h1>
          <p>Classic cocktails & mocktails collection.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="https://img.freepik.com/free-photo/top-view-beer-with-copy-space_23-2148306047.jpg?w=996&t=st=1681374958~exp=1681375558~hmac=be637b2b2d1a69b5a8060d89dba5ca8957469aa33463a74de6a5e2b6c223b464"
          class="d-block" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>Alcohol</h1>
          <p>Beer, whiskey, wine & more.</p>
        </div>
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!--fruit juice section-->
  <div class="fruit-juice-section">
    <div class="fruit-juice-left-section">
      <h1>Fresh Fruit Juices</h1>
      <p>Recharge with a lively Brown Sugar Oatmilk or Toasted Vanilla Oatmilk
        Shaken Espresso—140 calories or less in a grande.</p>
      <button class="btn btn-outline-primary">Order now</button>
    </div>
    <div class="fruit-juice-right-section">
      <img
        src="https://img.freepik.com/free-photo/healthy-kiwi-smoothie-summer-recipe_53876-32273.jpg?w=900&t=st=1681374628~exp=1681375228~hmac=5b5ea5598a8b3cca19d376cbb687f0a6b26ecc415ce843b37292631fd0a39e49">>
    </div>
  </div>

  <!--beverage section-->
  <div class="beverage-section">
    <div class="beverage-left-section">
      <img
        src="https://img.freepik.com/premium-vector/cold-brew-coffee-ads-with-retro-style-engraving-brown-background-3d-illustration_317396-1183.jpg?w=996">
    </div>
    <div class="beverage-right-section">
      <h1>Beverages</h1>
      <p>Dive into our bold, fruity and refreshing Dragon Drink®
        with coconutmilk.</p>
      <button class="btn btn-outline-primary">Order now</button>
    </div>
  </div>

  <!--fast food section-->
  <div class="fruit-juice-section">
    <div class="fruit-juice-left-section">
      <h1>Fast Food</h1>
      <p>Recharge with a lively Brown Sugar Oatmilk or Toasted Vanilla Oatmilk
        Shaken Espresso—140 calories or less in a grande.</p>
      <button class="btn btn-outline-primary">Order now</button>
    </div>
    <div class="fruit-juice-right-section">
      <img
        src="https://img.freepik.com/free-photo/chicken-nuggets-french-fries-red_155003-6397.jpg?w=900&t=st=1681383702~exp=1681384302~hmac=caec703d3230c5b55115c10b6856256f7b9e27f9ea1f2a7352b2e278f98305d2">
    </div>
  </div>

  <!--cocktail section-->
  <div class="beverage-section">
    <div class="beverage-left-section">
      <img
        src="https://img.freepik.com/free-photo/front-view-blue-cool-lemonade-with-ice-blue-background-fruit-water-cold-cocktail-drink-color-juice_140725-156776.jpg?w=996&t=st=1681383248~exp=1681383848~hmac=6fa283b4864b98ab792f80197d8de62732c66b21b864ab2ab7ad453584f19417">
    </div>
    <div class="beverage-right-section">
      <h1>Cocktails & Mocktails</h1>
      <p>Dive into our bold, fruity and refreshing Dragon Drink®
        with coconutmilk.</p>
      <button class="btn btn-outline-primary">Order now</button>
    </div>
  </div>

  <!--alcohol section-->
  <div class="fruit-juice-section mb-5">
    <div class="fruit-juice-left-section">
      <h1>Alcoholmania</h1>
      <p>Recharge with a lively Brown Sugar Oatmilk or Toasted Vanilla Oatmilk
        Shaken Espresso—140 calories or less in a grande.</p>
      <button class="btn btn-outline-primary">Order now</button>
    </div>
    <div class="fruit-juice-right-section">
      <img
        src="https://img.freepik.com/premium-psd/beer-bottle-mockup_358694-2111.jpg?w=996">
    </div>
  </div>

</div>
