<div class="container-fluid">
  <app-navbar></app-navbar>
  <div class="text-center" id="noItemCardInCart" *ngIf="!showButton">
    <div class="card-body">
      <img class="cart-icon" src="../../../../assets/images/navbar/donut.png">
      <h2 class="card-title">404, no delicious food item found !</h2>
      <p class="card-text">Simply click "Explore Now" to peruse our scrumptious
        menu and load your cart with delightful items.</p>
      <a class="btn" routerLink="/home">Explore Now</a>
    </div>
  </div>
  <div class="card-container">
    <div class="card" *ngFor="let item of cart, let i = index">
      <div class="left">
        <img
          src="{{item.image}}">
      </div>
      <div class="right">
        <h5>{{item.name}}</h5>
        <p>Price : {{item.price}} /-</p>
        <label>Quantity</label>
        <input class="ml-3" type="number" min="1" max="5" value="{{item.quantity}}" style="width: 40px"
               (change)="addQty(i, $event)">
        <br>
        <a (click)="removeCartItem(i)" class="text-danger" style="font-size: 20px">
          <i class="fa fa-trash"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="total-card" *ngIf="showButton">
    <div class="card">
      <div class="d-flex">
        <p>Price :</p>
        <p>{{productPrice}} /-</p>
      </div>
      <div class="d-flex">
        <p>Delivery Charges :</p>
        <p>{{deliveryCharge}} /-</p>
      </div>
      <div class="d-flex">
        <div>
          <h4>Final Price :</h4>
        </div>
        <div>
          <h4>{{total}} /-</h4>
        </div>
      </div>
      <button class="btn" (click)="placeOrder()">Place Order</button>
    </div>
  </div>
</div>
