@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

.slider-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  scroll-behavior: smooth;
  overflow: hidden;
}

/* Reset all children */
.slider-wrapper * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.slider-wrapper *::-webkit-scrollbar {
  display: none;
}

main {
  width: 850px;
}

main h1 {
  text-align: center;
  font-weight: 550;
  font-size: clamp(2rem, 4vw, 2.6rem);
  color: #fff;
  margin-bottom: 40px !important;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.slide-row {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 6800px !important;
  transition: 0.5s;
  gap: 50px;
}

.slide-col {
  position: relative;
  width: 800px;
  height: 400px;
  display: flex;
  align-items: center;
}

.hero {
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  height: 100%;
  margin-left: -40px !important;
}

.hero img {
  height: 100%;
  width: 320px;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 15px;
}

.content {
  /*position: absolute;*/
  /*left: 0;*/
  /*top: 50%;*/
  /*transform: translateY(-50%);*/
  width: 520px;
  height: 250px;
  color: #4d4352;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 25px 20px 0 20px !important;
  text-align: center;
  user-select: none;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content p {
  margin-bottom: 15px;
  font-size: 1.2rem;
  font-weight: 400;
}

.content h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 15px;
  color: #4d4352;
}

.content button {
  padding: 6px 26px;
  border: none;
  border-radius: 30px;
  color: white;
  background-color: rgb(255, 105, 7);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
}

.sale-offer {
  font-size: 13px;
  color: #808080;
}

.indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem !important;
}

.indicator .btn {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin: 4px;
  border: none;
  border-radius: 12px;
  background: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.indicator .btn.active {
  width: 30px;
  height: 10px;
}

@media (max-width: 768px) {
  main {
    width: 90%;
  }

  .slide-row {
    width: 100%;
    min-width: 5800px !important;
    /*flex-direction: column;*/
    /*min-width: 100% !important;*/
  }

  .slide-col {
    width: 100%;
    /*height: 250px;*/
    flex-direction: column-reverse;
    height: auto;
    align-items: flex-start;
  }

  .hero {
    margin-left: 0 !important;
    width: 100%;
    text-align: center;
  }

  .hero img {
    width: 50%;
  }

  .content {
    /*width: 320px;*/
    width: 100%;
    height: 240px;
    padding: 20px;
  }

  .content p {
    font-size: 0.9rem;
  }

  .content h2 {
    font-size: 1.2rem;
    margin-top: 20px;
  }
}

@media (max-width: 550px) {
  main {
    width: 300px;
  }

  .slide-row {
    width: 1200px;
  }

  .slide-col {
    width: 100%;
    height: 300px;
  }

  .hero {
    top: 60%;
    height: 100px;
    z-index: 5;
  }

  .hero img {
    width: 100px;
  }

  .content {
    width: 300px;
  }
}
