<app-admin-navbar></app-admin-navbar>
<div class="container-fluid">
  <h2 class="mb-4">Customer Orders</h2>

  <div *ngIf="ordersList.length === 0" class="alert alert-info">
    No orders found.
  </div>

  <ng-container *ngFor="let order of ordersList; let i = index">
    <div class="card mb-4 order-card">

      <div class="card-content">
        <div>
          <small class="fw-bold">Customer Name : {{ order.user?.fullName || 'Unknown' }}</small>
          <br>
          <small class="text-success">Order #{{ order.id }}</small>
          <br>
          <small>Order Total: {{ order.total | currency: 'INR' }}</small>
          <br>
          <small class="text-muted">Ordered on: {{ order.createdAt?.toDate() | date: 'medium' }}</small>
          <br>
          <!-- Unique collapse ID using order.id -->
          <button class="btn btn-sm btn-primary mt-4"
                  type="button"
                  (click)="toggleShowMore(order.id)"
                  [attr.aria-expanded]="expandedOrders[order.id] || false"
                  [attr.aria-controls]="'collapse' + order.id">
                      <span *ngIf="expandedOrders[order.id]; else showMore">
                          <i class="fa-solid fa-eye-slash ms-1"></i> Hide Order Details
                      </span>
            <ng-template #showMore>
              <i class="fa-solid fa-eye ms-1"></i> Show Order Details
            </ng-template>
          </button>
        </div>

        <div>
          <label class="fw-bold">Order Status</label>
          <select class="form-select form-select-sm mt-3 mb-2 p-2"
                  style="width: 320px"
                  [ngModel]="order.status"
                  (ngModelChange)="changeStatus(order, $event)">
            <option *ngFor="let status of orderStatuses" [value]="status">
              {{ status }}
            </option>
          </select>

          <span class="text-danger fw-bold mt-2 mb-2" *ngIf="!getNextStatus(order.status)">Order Closed</span>
          <div class="button-groups">
            <!-- Unique collapse ID using order.id -->
            <!--            <button class="btn btn-sm btn-primary mt-3"-->
            <!--                    type="button"-->
            <!--                    (click)="toggleShowMore(order.id)"-->
            <!--                    [attr.aria-expanded]="expandedOrders[order.id] || false"-->
            <!--                    [attr.aria-controls]="'collapse' + order.id">-->
            <!--            <span *ngIf="expandedOrders[order.id]; else showMore">-->
            <!--                <i class="fa-solid fa-eye-slash ms-1"></i> Hide Order Details-->
            <!--            </span>-->
            <!--              <ng-template #showMore>-->
            <!--                <i class="fa-solid fa-eye ms-1"></i> Show Order Details-->
            <!--              </ng-template>-->
            <!--            </button>-->
            <button class="btn btn-sm btn-primary mt-3"
                    type="button"
                    (click)="downloadInvoicePdf(order)">
              <i class="fa-solid fa-file-arrow-down"></i> Download Invoice
            </button>
            <!--          <br>-->
            <button class="btn btn-sm btn-primary mt-3"
                    type="button"
                    (click)="printOrderInvoice(order)">
              <i class="fa-solid fa-print"></i> Print Invoice
            </button>
          </div>
        </div>
      </div>

      <!-- Collapse section with unique ID -->
      <div [id]="'collapse' + order.id"
           class="collapse"
           [class.show]="expandedOrders[order.id]">
        <div class="card-body">
          <ul class="list-group-m" *ngFor="let item of order.items">
            <li class="list-group-item text-muted">
              <p>{{ item.name }} X {{ item.quantity }}</p>
              <p>{{ item.quantity }} N x {{ item.price }} =
                {{ item.price * item.quantity | currency: 'INR' }}</p>
            </li>
            <hr>
          </ul>
        </div>
      </div>
    </div>
  </ng-container>
</div>


