.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/*.card {*/
/*  !* color used to softly clip top and bottom of the .words container *!*/
/*  --bg-color: #111;*/
/*  background-color: var(--bg-color);*/
/*  padding: 1rem 2rem;*/
/*  border-radius: 1.25rem;*/
/*}*/

/*.loader {*/
/*  color: rgb(124, 124, 124);*/
/*  font-family: "Poppins", sans-serif;*/
/*  font-weight: 500;*/
/*  font-size: 25px;*/
/*  -webkit-box-sizing: content-box;*/
/*  box-sizing: content-box;*/
/*  height: 40px;*/
/*  padding: 10px 10px;*/
/*  display: -webkit-box;*/
/*  display: -ms-flexbox;*/
/*  display: flex;*/
/*  border-radius: 8px;*/
/*}*/

/*.words {*/
/*  overflow: hidden;*/
/*  position: relative;*/
/*}*/

/*.words::after {*/
/*  content: "";*/
/*  position: absolute;*/
/*  inset: 0;*/
/*  background: linear-gradient(*/
/*    var(--bg-color) 10%,*/
/*    transparent 30%,*/
/*    transparent 70%,*/
/*    var(--bg-color) 90%*/
/*  );*/
/*  z-index: 20;*/
/*}*/

/*.word {*/
/*  display: block;*/
/*  height: 100%;*/
/*  padding-left: 6px;*/
/*  color: #956afa;*/
/*  animation: spin_4991 4s infinite;*/
/*}*/

/*@keyframes spin_4991 {*/
/*  10% {*/
/*    -webkit-transform: translateY(-102%);*/
/*    transform: translateY(-102%);*/
/*  }*/

/*  25% {*/
/*    -webkit-transform: translateY(-100%);*/
/*    transform: translateY(-100%);*/
/*  }*/

/*  35% {*/
/*    -webkit-transform: translateY(-202%);*/
/*    transform: translateY(-202%);*/
/*  }*/

/*  50% {*/
/*    -webkit-transform: translateY(-200%);*/
/*    transform: translateY(-200%);*/
/*  }*/

/*  60% {*/
/*    -webkit-transform: translateY(-302%);*/
/*    transform: translateY(-302%);*/
/*  }*/

/*  75% {*/
/*    -webkit-transform: translateY(-300%);*/
/*    transform: translateY(-300%);*/
/*  }*/

/*  85% {*/
/*    -webkit-transform: translateY(-402%);*/
/*    transform: translateY(-402%);*/
/*  }*/

/*  100% {*/
/*    -webkit-transform: translateY(-400%);*/
/*    transform: translateY(-400%);*/
/*  }*/
/*}*/


/* From Uiverse.io by doniaskima */
/* HTML: <div class="loader"></div> */
.loader {
  width: 35px;
  height: 80px;
  position: relative;
}

.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  padding: 3px 5px;
  border-top: 1px solid #bbb6aa;
  border-bottom: 4px solid #bbb6aa;
  background: linear-gradient(#612329 0 0) bottom no-repeat content-box,
  #e4e0d7;
  mix-blend-mode: darken;
  animation: l1 1.5s infinite linear;
}

.loader:before {
  content: "";
  position: absolute;
  inset: -18px calc(50% - 2px) 8px;
  background: #eb6b3e;
  transform-origin: bottom;
  transform: rotate(8deg);
}

@keyframes l1 {
  0% {
    background-size: 100% 100%
  }

  100% {
    background-size: 100% 5%
  }
}
