<div class="loader-container">
  <div class="loader"></div>
  <!--  <div class="card">-->
  <!--    <div class="loader">-->
  <!--      <p>loading</p>-->
  <!--      <div class="words">-->
  <!--        <span class="word">cocktails</span>-->
  <!--        <span class="word">alcohols</span>-->
  <!--        <span class="word">pizza</span>-->
  <!--        <span class="word">burgers</span>-->
  <!--        <span class="word">chilled beers</span>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
</div>

