.container-fluid {
  background-color: rgba(255, 255, 247, 0.2);
}

.custom-card-container {
  display: flex;
  flex-wrap: wrap;
}

.custom-card-image {
  width: 80px;
  height: 80px;
  margin-top: 20px;
}

.row i {
  font-size: 15px;
  padding: 10px 8px;
}

.btn {
  padding: 8px 35px;
  border-radius: 30px;
  margin-top: 15px;
  color: white;
  background-color: rgb(255, 105, 7);
  border: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
}

.w-20 {
  width: 80px !important;
  text-align: center;
  border: 1px solid silver;
}

/*always show up and down arrow in input number*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {

  opacity: 1;

}

.right #itemName {
  font-size: 16px;
  font-weight: 600;
}

.right p {
  font-size: 12px;
}

.right #itemPrice {
  font-size: 14px;
  margin-top: 15px;
}

.right label {
  padding-right: 8px;
  font-weight: 500;
  font-size: 14px;
}

.total-custom-card {
  position: fixed;
  bottom: 0;
  float: right;
  right: 20px;
}

.total-custom-card .custom-card {
  display: flex;
  flex-direction: column;
}

#noItemInCart {
  margin-top: 200px;
  padding: 30px;
}

#noItemInCart h2 {
  font-weight: bold;
}

.cart-icon {
  width: 100px;
  height: 100px;
}

table {
  display: table;
}

td {
  float: left;
}

.td2 {
  padding: 10px 0;
  float: right;
}

.finalAmount {
  padding: 10px 0;
  color: green;
  font-size: 18px;
  float: right;
  font-weight: bold;
}

.right input {
  width: 40px;
}

.total-amount-heading {
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .custom-card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px !important;
  }

  .custom-card-image {
    margin: -50px 0 2px 0;
    width: 60px;
    height: 60px;
  }

  #noItemInCart {
    margin-top: 100px;
    border: none;
    font-size: 10px;
  }

  #noItemInCart h2 {
    font-size: 14px;
    font-weight: bold;
  }

  .right #itemName {
    font-size: 14px;
  }

  .right p {
    font-size: 10px;
  }

  .right #itemPrice {
    font-size: 12px;
  }

  .right label {
    font-size: 10px;
  }

  .right input {
    width: 20px;
    height: 20px;
    padding: 4px;
  }

  .btn {
    font-size: 12px;
  }

  .total-custom-card {
    width: 100%;
    position: relative;
  }

  .total-custom-card .custom-card {
    margin: 0 auto;
  }

  td {
    font-size: 10px;
  }

  .td2 {
    float: right;
    padding: 5px 0;
  }

  .finalAmount {
    font-size: 14px;
    float: right;
    font-weight: bold;
  }
}
