<app-navbar></app-navbar>

<div class="container-full">
  <br>
  <table class="rwd-table">
    <tbody>
    <tr>
      <th>S. NO.</th>
      <th>Date & Time</th>
      <th>Product Name</th>
      <th>Description</th>
      <th>Net Amount</th>
      <th>Order status</th>
    </tr>
    <tr *ngFor="let item of ordersList; let i = index">
      <td data-th="Supplier Code">
        {{i + 1}}
      </td>
      <td data-th="Supplier Name">
        {{date | date:'medium'}}
      </td>
      <td data-th="Invoice Number">
        {{item.name }}
      </td>
      <td data-th="Invoice Number">
        {{item.description }}
      </td>
      <td data-th="Invoice Date">
        {{item.price | currency: 'INR'}}
      </td>
      <td data-th="Due Date">
        {{orderStatus}}
      </td>
    </tr>

    </tbody>
  </table>
</div>

