.container-fluid {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  color: rgb(255, 105, 7);
}

.order-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-card {
  width: 70%;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
}

.order-card .card-header {
  font-size: 1rem;
}

.order-card .row {
  align-items: center;
}

.btn-primary {
  width: 230px;
  padding: 8px 30px;
  border-radius: 30px;
  margin-top: 15px;
  color: white;
  background-color: rgb(255, 105, 7);
  border: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
}

.btn-danger {
  width: 220px;
  padding: 8px 30px;
  border-radius: 30px;
  margin-top: 15px;
  color: white;
  border: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
}

.btn i {
  margin-right: 5px;
}

.list-group-m .list-group-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: -30px;
  text-align: center;
  font-size: 0.90rem;
}

.list-group-m hr {
  margin-bottom: -10px !important;
}

@media (max-width: 992px) {
  .order-card {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .order-container {
    flex-direction: column;
    text-align: center;
  }
}
