<app-navbar></app-navbar>
<div class="container-fluid px-3 px-md-5 py-4">
  <h2 class="mb-4">Your Orders</h2>

  <div *ngIf="ordersList.length === 0" class="text-muted text-center">
    No orders yet.
  </div>

  <ng-container *ngFor="let order of ordersList; let i = index">
    <div class="card mb-4 order-card">

      <div class="d-flex justify-content-between align-items-center">
        <div>
          <strong>Order #{{ order.id }}</strong>
          <br>
          <small class="text-muted">Ordered on: {{ order.createdAt?.toDate() | date: 'medium' }}</small>
          <br>
          <span class="small text-primary">{{ order.status }}</span>
        </div>

        <div>
          <div>Order Total: <b class="text-success">{{ order.total | currency: 'INR' }}</b></div>
          <!-- Unique collapse ID using order.id -->
          <button class="btn btn-sm btn-primary mt-3"
                  type="button"
                  (click)="toggleShowMore(order.id)"
                  [attr.aria-expanded]="expandedOrders[order.id] || false"
                  [attr.aria-controls]="'collapse' + order.id">
            {{ expandedOrders[order.id] ? 'Hide Order Details' : 'Show Order Details' }}
          </button>
          <br>
          <button class="btn btn-sm btn-primary mt-3"
                  type="button"
                  (click)="downloadInvoicePdf(order)">
            <i class="fa-solid fa-file-arrow-down"></i> Download Invoice
          </button>
        </div>
      </div>

      <!-- Collapse section with unique ID -->
      <div [id]="'collapse' + order.id"
           class="collapse"
           [class.show]="expandedOrders[order.id]">
        <div class="card-body">
          <ul class="list-group-m" *ngFor="let item of order.items">
            <li class="list-group-item text-muted">
              <p>{{ item.name }} X {{ item.quantity }}</p>
              <p>{{ item.quantity }} N x {{ item.price }} =
                {{ item.price * item.quantity | currency: 'INR' }}</p>
            </li>
            <hr>
          </ul>
        </div>
      </div>
    </div>
  </ng-container>

</div>
