
<div class="container-fluid">
<app-navbar></app-navbar>
  <div class="table-responsive">
    <table class="table">
      <thead class="table-primary">
      <tr>
        <th>S. NO.</th>
        <th>Date & Time</th>
        <th>Product Name</th>
        <th>Description</th>
        <th>Net Amount</th>
        <th>Order status</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let order of ordersList; let i = index">
        <tr *ngFor="let item of ordersList; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ item.date?.toDate() | date:'medium' }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.price | currency:'INR' }}</td>
          <td>{{ item.status }}</td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>

