<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/admin">
      <img src="../../../../assets/images/navbar/cocktail.gif" alt="logo">
      <h4>Cocktail Club Co. Admin</h4>
    </a>

    <div class="btn-group" role="group" aria-label="Basic example">
      <button
        class="btn"
        [ngClass]="isOpen ? 'btn-danger' : 'btn-success'"
        (click)="toggleStatus()">
        <i [ngClass]="isOpen ? 'fa-shop-lock' : 'fa-shop'"
           class="fa-solid mx-2"></i>
        {{ isOpen ? 'Close CC' : 'Open CC' }}
      </button>

      <button class="btn btn-sm btn-light text-danger fw-bold" (click)="doLogOut()">
        <i class="fa-solid fa-power-off mx-2"></i>Logout
      </button>
    </div>
  </div>
</nav>

