.navbar {
  background-color: rgba(255, 255, 255, 0.2);
}

.nav-link {
  color: #FF6907;
  font-weight: 550;
}

.nav-icons {
  width: 100%;
  height: 28px;
  padding: 0 10px;
}

.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navbar-brand img {
  width: 50px;
  height: 100%;
}

.navbar-brand h4 {
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
  letter-spacing: 2px;
  color: #FF6907;
  margin-left: 15px;
  padding-top: 10px;
}

.primary-color-text {
  margin-left: 15px;
  float: right;
  cursor: pointer;

  i {
    margin-right: 5px;
  }
}


.mega-menu {
  width: 70vw;
  margin-top: 10px;
  padding: 10px;

  .mega-menu-content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
  }

  .dropdown-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-weight: 600;
  }

  .img-thumbnail {
    width: 50px;
    height: 50px;
  }
}

/* User profile or dropdown styles and hover styles starts */
.user-profile-picture {
  width: 35px;
  height: 35px;
}

.dropdown .btn:hover {
  transform: scale(1.1);
}

.dropdown-item {
  font-size: 14px;
  transition: all 0.3s ease;
}

.dropdown-divider {
  border: none;
  height: 2px;
  background-color: #000;
  margin: 0.5rem 0;
  opacity: 0.5;
}

//#lblCartCount {
//  font-weight: bold;
//  font-size: 12px;
//  height: 20px;
//  width: 20px;
//  border-radius: 50%;
//  text-align: center;
//  //background: rgb(255, 105, 7);
//  margin-left: -20px;
//}
//
//.category-links {
//  //background-color: rgba(255, 255, 247, 0.2);
//}

.searchBar {
  width: 450px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}

.search-input {
  width: 100%;
  height: 2.8rem;
  outline: none;
  border: 1px solid rgb(210, 208, 208);
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
}

#searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}

@keyframes type {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.search-input::placeholder {
  transition: opacity 0.9s ease-in-out;
  color: rgba(255, 105, 7);
  font-size: 14px;
}

//@media only screen and (max-width: 600px) {
//  nav {
//    width: 100%;
//    padding-left: 10%;
//  }
//
//  .brand-logo {
//    width: 100%;
//    height: 45px;
//  }
//  .navbar-brand h4 {
//    font-size: 14px;
//  }
//  #onMobileCartIcon {
//    display: block;
//    height: 20px;
//    width: 20px;
//  }
//
//  #onDesktopCartIcon {
//    display: none;
//  }
//  .nav-icons {
//    width: 50%;
//  }
//  .navbar-toggler {
//    margin-top: 10px;
//  }
//
//  .dropdown-menu.dropdown-menu-center {
//    left: 30% !important;
//    right: 0 !important;
//    transform: translateX(0) !important;
//  }
//
//  .nav-link {
//    font-size: 12px;
//  }
//  .dropdown {
//    padding-left: 8%;
//  }
//
//  .dropdown-menu.dropdown-menu-center {
//    left: 30% !important;
//    right: 0 !important;
//    transform: translateX(0) !important;
//  }
//}
//
//@media only screen and (max-width: 992px) {
//  nav {
//    width: 100%;
//  }
//  #onMobileCartIcon {
//    display: block;
//  }
//
//  #onDesktopCartIcon {
//    display: none;
//  }
//  .nav-icons {
//    width: 50%;
//  }
//}
