<div class="container-fluid">
  <app-navbar></app-navbar>

  <!--  carousel section-->
  <div class="carousel-img-section">
    <div class="carousel-sec-1">
      <div class="img-sec-1">
        <img src="../../../../assets/images/home/carousel/cocktail.jpg">
        <img src="../../../../assets/images/home/carousel/burger.jpg">
      </div>
      <div class="img-sec-2">
        <img src="../../../../assets/images/home/carousel/coffee.jpg">
        <img src="../../../../assets/images/home/carousel/juice.jpg">
      </div>
    </div>
    <div class="carousel-sec-2">
      <h1 class="text-lt">Bring the bar</h1>
      <h1 class="text-dk">Home.</h1>

      <p>
        Delivering expertly crafted cocktails, whiskey, wine, beers, vodka, tequila, revitalizing fruit juices,
        a range of hot and cold beverages, cold drinks, snacks and delectable fast food to your doorstep.
      </p>
    </div>
  </div>

  <app-feature-products></app-feature-products>

  <app-animated-product-carousel></app-animated-product-carousel>

  <!--  rent a speaker section-->
  <div class="imgOnRight-section sec-1">
    <div class="imgOnRight-left-section">
      <img routerLink="/rent-speaker" (click)="navigateToTop()"
           src="../../../../assets/images/home/rent-speaker.jpg" alt="rent-speaker">
    </div>
    <div class="imgOnRight-right-section">
      <h1>Rent a Speaker & more...</h1>
      <p>So your party feel like a party!</p>
      <span class="sale-offer">Starting from INR 400 per day.</span>
      <br>
      <button class="btn" routerLink="/rent-speaker" (click)="navigateToTop()">Explore now</button>
    </div>
  </div>

  <app-footer></app-footer>
</div>
