.container-fluid {
  background-color: #ffffff;
}

.carousel-img-section {
  display: flex;
  justify-content: space-around;
}

.carousel-sec-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.carousel-img-section img {
  width: 320px;
  height: 310px;
}


.text-lt {
  font-weight: lighter;
  font-size: 26px;
  letter-spacing: 2px;
  color: rgb(255, 105, 7);
}

.text-dk {
  font-weight: bolder;
  font-size: 60px;
  letter-spacing: 3px;
  color: rgb(255, 105, 7);
}

.carousel-img-section p {
  font-size: 15px;
  text-align: justify;
  line-height: 30px;
}

.imgOnLeft-section, .imgOnRight-section {
  height: 600px;
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.imgOnLeft-left-section, .imgOnRight-right-section {
  padding: 60px;
}

.imgOnLeft-section h1, .imgOnRight-section h1 {
  color: rgb(255, 105, 7);
  font-weight: bold;
  font-size: 50px;
  letter-spacing: 3px;
}

.imgOnLeft-section p, .imgOnRight-section p {
  color: #1e3932;
  font-weight: 500;
  font-size: 18px;
  max-width: 550px;
  text-align: center;
}

.imgOnLeft-right-section img, .imgOnRight-left-section img {
  width: 560px;
  border-radius: 50%;
  background-color: #fff;
}

.btn {
  padding: 10px 30px;
  border-radius: 30px;
  margin-top: 18px;
  color: white;
  background-color: rgb(255, 105, 7);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
}

.sale-offer {
  font-size: 13px;
  color: #808080;
  text-align: center;
}


@media only screen and (max-width: 768px) {
  .container-fluid {
    width: 100%;
  }

  .text-lt {
    font-size: 14px;
    letter-spacing: 0;
  }

  .text-dk {
    font-size: 30px;
    letter-spacing: 1px;
  }

  .carousel-img-section {
    flex-direction: column;
    padding: 10px;
  }

  .carousel-img-section p {
    font-size: 12px;
    text-align: justify;
    line-height: 20px;
  }

  .carousel-sec-1 {
    flex-direction: row;
  }

  .carousel-sec-2 {
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
  }

  .carousel-img-section img {
    width: 50%;
    height: 100%;
  }

  .sec-1 {
    flex-direction: column-reverse;
  }

  .sec-2 {
    flex-direction: column;
  }

  .sec-3 {
    flex-direction: column-reverse;
  }

  .sec-4 {
    flex-direction: column;
  }

  .imgOnLeft-right-section img, .imgOnRight-left-section img {
    width: 100%;
    padding: 25px;
  }

  .imgOnLeft-section h1, .imgOnRight-section h1 {
    font-size: 25px;
    letter-spacing: 1px;
  }

  .imgOnLeft-section p, .imgOnRight-section p {
    font-size: 14px;
  }

  .btn {
    padding: 8px 24px;
    border-radius: 30px;
    margin-top: 15px;
    font-size: 12px;
  }

  .sale-offer {
    font-size: 10px;
  }
}

