.container-fluid {
  background-color: #ffffff;
}

.carousel-img-section {
  display: flex;
  justify-content: space-around;
}

.carousel-sec-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.carousel-img-section img {
  width: 320px;
  height: 310px;
}


.text-lt {
  font-weight: lighter;
  font-size: 50px;
  letter-spacing: 2px;
  color: rgb(255, 105, 7);
}

.text-dk {
  font-weight: bolder;
  font-size: 60px;
  letter-spacing: 3px;
  color: rgb(255, 105, 7);
}

.carousel-img-section p .happy-hour-section p {
  font-size: 20px;
  text-align: justify;
  line-height: 30px;
  letter-spacing: 1px;
}

.imgOnLeft-section, .imgOnRight-section {
  height: 600px;
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.imgOnLeft-left-section, .imgOnRight-right-section {
  padding: 60px;
}

.imgOnLeft-section h1, .imgOnRight-section h1 {
  color: rgb(255, 105, 7);
  font-weight: bold;
  font-size: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.imgOnLeft-section p, .imgOnRight-section p {
  color: #1e3932;
  font-weight: 500;
  font-size: 24px;
  max-width: 550px;
  letter-spacing: 1px;
}

.imgOnLeft-right-section img, .imgOnRight-left-section img {
  width: 560px;
  border-radius: 50%;
  background-color: #fff;
}

.btn {
  padding: 10px 30px;
  border-radius: 30px;
  margin-top: 15px;
  color: white;
  background-color: rgb(255, 105, 7);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
}

/*css for sale section*/
section {
  padding: 5% 0 0 0;
}

.alizarin {
  background: #e74c3c;
  border-radius: 20px 20px 0 0;
}

.amethyst {
  background: #9b59b6;
  border-radius: 20px 20px 0 0;
}

.emerald {
  background: #2ecc71;
  border-radius: 20px 20px 0 0;
}

.midnight-blue {
  background: #2c3e50;
  border-radius: 20px 20px 0 0;
}

.peter-river {
  background: #3498db;
  border-radius: 20px 20px 0 0;
}

.dl {
  background-color: rgba(192, 192, 192, 0.2);
  border-radius: 20px;
  position: relative;
  min-height: 350px;

}

.dl .discount {
  height: 200px;
  position: relative;
  font-size: 80px;
  line-height: 80px;
  text-align: center;
  font-weight: 700;
  padding: 40px 20px 0;
  color: #f1c40f
}

.dl .discount:after {
  content: " ";
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  position: absolute;
  bottom: -20px;
  left: 20%
}

.dl .discount.alizarin:after {
  border-top: 20px solid #e74c3c
}

.dl .discount.peter-river:after {
  border-top: 20px solid #3498db
}

.dl .discount.emerald:after {
  border-top: 20px solid #2ecc71
}

.dl .discount.amethyst:after {
  border-top: 20px solid #9b59b6
}

.dl .discount .type {
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: -15px
}

.dl .descr {
  color: #999;
  margin-top: 10px;
  padding: 20px 15px
}

.dl .ends {
  padding: 0 15px;
  color: #f1c40f;
  margin-bottom: 10px
}

.dl .coupon {
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 15px 20px 15px;
  text-decoration: none;
  color: rgb(255, 105, 7);
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .container-fluid {
    width: 100%;
  }

  .text-lt {
    font-size: 30px;
    letter-spacing: 1px;
  }

  .text-dk {
    font-size: 40px;
    letter-spacing: 2px;
  }

  .carousel-img-section {
    flex-direction: column;
  }

  .carousel-img-section p .happy-hour-section p {
    font-size: 15px;
    text-align: justify;
    line-height: 0;
  }

  .carousel-sec-1 {
    flex-direction: row;
  }

  .carousel-sec-2 {
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
  }

  .carousel-img-section img {
    width: 50%;
    height: 100%;
  }

  .sec-1 {
    flex-direction: column-reverse;
  }

  .sec-2 {
    flex-direction: column;
  }

  .sec-3 {
    flex-direction: column-reverse;
  }

  .sec-4 {
    flex-direction: column;
  }

  .imgOnLeft-right-section img, .imgOnRight-left-section img {
    width: 100%;
    padding: 20px;
  }

  .imgOnLeft-section h1, .imgOnRight-section h1 {
    font-size: 30px;
  }

  .imgOnLeft-section p, .imgOnRight-section p {
    font-size: 15px;
  }

  .btn {
    padding: 8px 24px;
    border-radius: 30px;
    margin-top: 5px;
    font-size: 14px;
  }

  .dl {
    margin: 20px 0;
  }
}

