<div class="container-fluid">
  <app-navbar></app-navbar>

  <!--  carousel section-->
  <div class="carousel-img-section">
    <div class="carousel-sec-1">
      <div class="img-sec-1">
        <img src="../../../../assets/images/home/carousel/cocktail.jpg">
        <img src="../../../../assets/images/home/carousel/burger.jpg">
      </div>
      <div class="img-sec-2">
        <img src="../../../../assets/images/home/carousel/coffee.jpg">
        <img src="../../../../assets/images/home/carousel/juice.jpg">
      </div>
    </div>
    <div class="carousel-sec-2">
      <h1 class="text-lt">Bring the bar</h1>
      <h1 class="text-dk">Home.</h1>

      <p>
        Delivering expertly crafted cocktails, whiskey, wine, beers, vodka, tequila, revitalizing fruit juices,
        a range of hot and cold beverages, cold drinks, snacks and delectable fast food to your doorstep.
      </p>
    </div>
  </div>

  <!--  rent a speaker section-->
  <div class="imgOnLeft-section sec-2">
    <div class="imgOnLeft-left-section">
      <h1>Rent a Speaker</h1>
      <p>So your party feel like a party!</p>
      <span class="sale-offer">Starting from INR 400 per day.</span>
      <br>
      <button class="btn" routerLink="/rent-speaker" (click)="navigateToTop()">Explore now</button>
    </div>
    <div class="imgOnLeft-right-section">
      <img routerLink="/rent-speaker" (click)="navigateToTop()"
           src="../../../../assets/images/home/rent-speaker.jpg" alt="rent-speaker">
    </div>
  </div>

  <!--cocktail section-->
  <div class="imgOnRight-section sec-1">
    <div class="imgOnRight-left-section">
      <img routerLink="/cocktail" (click)="navigateToTop()"
           src="../../../../assets/images/home/cocktail.jpg" alt="cocktail">
    </div>
    <div class="imgOnRight-right-section">
      <h1>Cocktails</h1>
      <p>Eat. Sleep. Cocktail. Repeat.</p>
      <span class="sale-offer">* Buy 1 Get 1 on Cocktails upto INR 599/-. Happy Hour O'clock.</span>
      <br>
      <button class="btn" routerLink="/cocktail" (click)="navigateToTop()">Explore now</button>
    </div>
  </div>

  <!--Beer section-->
  <div class="imgOnLeft-section sec-2">
    <div class="imgOnLeft-left-section">
      <h1>Beer</h1>
      <p>Would you say no to another?</p>
      <span class="sale-offer">* 2% flat off on selected beers.</span>
      <br>
      <button class="btn" routerLink="/beers" (click)="navigateToTop()">Explore now</button>
    </div>
    <div class="imgOnLeft-right-section">
      <img routerLink="/beers" (click)="navigateToTop()"
           src="../../../../assets/images/home/beer.jpg" alt="beer">
    </div>
  </div>

  <!--Alcohol section-->
  <div class="imgOnRight-section sec-1">
    <div class="imgOnRight-left-section">
      <img routerLink="/alcohol" (click)="navigateToTop()"
           src="../../../../assets/images/home/alcohol.jpg" alt="alcohol">
    </div>
    <div class="imgOnRight-right-section">
      <h1>Alcohol</h1>
      <p>Get the party started</p>
      <span class="sale-offer">* INR 200 off upto INR 2599/-.</span>
      <br>
      <button class="btn" routerLink="/alcohol" (click)="navigateToTop()">Explore now</button>
    </div>
  </div>

  <!--fruit juice section-->
  <div class="imgOnLeft-section sec-2">
    <div class="imgOnLeft-left-section">
      <h1>Fruit Juices</h1>
      <p>Fresh fruit juices straight from Mother Nature herself.</p>
      <span class="sale-offer">* 15% flat off on all juices.</span>
      <br>
      <button class="btn" routerLink="/fruit-juice" (click)="navigateToTop()">Explore now</button>
    </div>
    <div class="imgOnLeft-right-section">
      <img routerLink="/fruit-juice" (click)="navigateToTop()"
           src="../../../../assets/images/home/juice.jpg" alt="juice">
    </div>
  </div>


  <!--beverage section-->
  <div class="imgOnRight-section sec-3">
    <div class="imgOnRight-left-section">
      <img routerLink="/beverage" (click)="navigateToTop()"
           src="../../../../assets/images/home/beverage.jpg" alt="beverage">
    </div>
    <div class="imgOnRight-right-section">
      <h1>Beverages</h1>
      <p>Beverages that refreshes the body. Refreshes the soul.</p>
      <span class="sale-offer"> * Buy 1 Get 1 on all hot and cold beverages.</span>
      <br>
      <button class="btn" routerLink="/beverage" (click)="navigateToTop()">Explore now</button>
    </div>
  </div>

  <!--fast food section-->
  <div class="imgOnLeft-section sec-4">
    <div class="imgOnLeft-left-section">
      <h1>Fast Food</h1>
      <p>Fast Fuel for Hungry Souls.</p>
      <span class="sale-offer"> * Free medium pizza of your choice on above order of INR 999/-.</span>
      <br>
      <button class="btn" routerLink="/fast-food" (click)="navigateToTop()">Explore now</button>
    </div>
    <div class="imgOnLeft-right-section">
      <img routerLink="/fast-food" (click)="navigateToTop()"
           src="../../../../assets/images/home/fastfood.jpg" alt="fast-food">
    </div>
  </div>

  <!--cold drink section-->
  <div class="imgOnRight-section sec-3">
    <div class="imgOnRight-left-section">
      <img routerLink="/cold-drink" (click)="navigateToTop()"
           src="../../../../assets/images/home/cold-drink.jpg" alt="cold-drink">
    </div>
    <div class="imgOnRight-right-section">
      <h1>Cold Drinks</h1>
      <p>Quench your thirst, feel alive!</p>
      <span class="sale-offer"> * Buy 1 Get 1 on all coca cola.</span>
      <br>
      <button class="btn" routerLink="/beverage" (click)="navigateToTop()">Explore now</button>
    </div>
  </div>

  <!--snacks section-->
  <div class="imgOnLeft-section sec-4">
    <div class="imgOnLeft-left-section">
      <h1>Snacks</h1>
      <p>Chakhna For Everyone</p>
      <span class="sale-offer"> * Free medium pizza of your choice on above order of INR 999/-.</span>
      <br>
      <button class="btn" routerLink="/snacks" (click)="navigateToTop()">Explore now</button>
    </div>
    <div class="imgOnLeft-right-section">
      <img routerLink="/snacks" (click)="navigateToTop()"
           src="../../../../assets/images/home/snacks.jpg" alt="fast-food">
    </div>
  </div>

  <!--cigarettes section-->
  <div class="imgOnRight-section sec-3">
    <div class="imgOnRight-left-section">
      <img routerLink="/cigarettes" (click)="navigateToTop()"
           src="../../../../assets/images/home/cigarettes.jpg" alt="cigarettes">
    </div>
    <div class="imgOnRight-right-section">
      <h1>Cigarettes</h1>
      <p>Cigarette... Get Your Cigarette Here.</p>
      <span class="sale-offer"> * INR 5 off on all products</span>
      <br>
      <button class="btn" routerLink="/cigarettes" (click)="navigateToTop()">Explore now</button>
    </div>
  </div>

  <app-footer></app-footer>
</div>
