<div class="containerfull">
  <div class="signin-form">
    <div class="header">
      <h1>Cocktail Club</h1>
    </div>
    <h6 class="mt-3 mb-4 text-center text-black">Forgot Password</h6>
    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
      <div class="input">
        <i class="fa fa-envelope"></i>
        <input formControlName="email" type="email" placeholder="Enter your email"/>
      </div>
      <div *ngIf="forgotForm.controls['email'].touched && forgotForm.controls['email'].invalid"
           class="text-danger">
        Invalid Email
      </div>

      <button type="submit" class="btn">Send Reset Link</button>
    </form>
    <a routerLink="/signin" class="mt-2 fw-bold">
      <i class="fa-solid fa-house me-2"></i> Go Back To Home</a>
  </div>
</div>



