.container-fluid {
  margin: 0 auto;
  background-color: rgba(255, 255, 247, 0.2);
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 85px;
  flex-wrap: wrap;
}

.card {
  width: 220px;
  margin: 0 30px 110px 0;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
}

.card img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-top: -100px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  background-color: #fff;
}

.card-body {
  margin: 0 auto;
}

.card button {
  margin-top: -25px;
  padding: 6px 20px;
  border-radius: 30px;
  color: white;
  background-color: rgb(255,105,7);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
}

.card h5 {
  letter-spacing: 2px;
  font-size: 18px;
}

.custom-margin {
  margin-top: -70px;
}

.container-fluid h3 {
  letter-spacing: 3px;
  margin-left: 30px;
}

