<div class="containerfull">
  <div class="checkout-form">
    <div class="header">
      <p>Enter your shipping details</p>
    </div>
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
      <div class="input">
        <i class="fa fa-user"></i>
        <input formControlName="fullName" type="text" placeholder="Name"/>
      </div>
      <div *ngIf="checkoutForm.controls['fullName'].touched && checkoutForm.controls['fullName'].invalid"
           class="text-danger">
        Invalid Name
      </div>
      <div class="input">
        <i class="fa fa-phone"></i>
        <input formControlName="phoneNumber" type="text" placeholder="Phone number"/>
      </div>
      <div *ngIf="checkoutForm.controls['phoneNumber'].touched && checkoutForm.controls['phoneNumber'].invalid"
           class="text-danger">
        Invalid Phone Number
      </div>
      <div class="input">
        <i class="fa fa-house"></i>
        <input formControlName="address" type="text" placeholder="House No. / Colony name"/>
      </div>
      <div *ngIf="checkoutForm.controls['address'].touched && checkoutForm.controls['address'].invalid"
           class="text-danger">
        Invalid Address
      </div>
      <div class="input">
        <i class="fa fa-city"></i>
        <input formControlName="city" type="text" placeholder="City"/>
      </div>
      <div *ngIf="checkoutForm.controls['city'].touched && checkoutForm.controls['city'].invalid"
           class="text-danger">
        Invalid City
      </div>
      <div class="input">
        <i class="fa fa-location-dot"></i>
        <input formControlName="zipCode" type="text" placeholder="Zip Code"/>
      </div>
      <div *ngIf="checkoutForm.controls['zipCode'].touched && checkoutForm.controls['zipCode'].invalid"
           class="text-danger">
        Invalid Zip code
      </div>

      <button type="submit" class="btn">Continue to pay {{total | currency:"INR"}}</button>
      <a class="text-danger" href="#" routerLink="/cart">Cancel</a>
    </form>
  </div>
</div>
