<div class="containerfull">
  <div class="signin-form">
    <div class="header">
      <h1>Cocktail Club</h1>
      <p>Log in or Sign up</p>
    </div>
    <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
      <div class="input">
        <i class="fa fa-phone"></i>
        <input formControlName="phoneNumber" type="text" placeholder="eg +919174520052"/>
      </div>
      <div *ngIf="signinForm.controls['phoneNumber'].touched && signinForm.controls['phoneNumber'].invalid" class="text-danger">
        Invalid Phone number
      </div>
      <div id="recaptcha-container"></div>
      <button type="submit" class="btn">Continue</button>
    </form>
    <p id="termAndConditionsText">By continuing, you agree to our <span class="text-underline">Terms of service & Privacy policy</span>
    </p>
  </div>
</div>


